{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Add new artifact</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/add_new_artifact.css' %}">
</head>
<body>

<h1>Add new artifact</h1>
<div class="margin-right-left">
    {% if error %}
    <div class="error">
        Could not get the requested file! Artifact was not added!
    </div>
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="warning">be careful what branch you are on when copying url link to the file</div>
        <div><input class="input url" required type="text" name="url_to_file" placeholder="url to file"></div>
        <label class="select-label" for="artifact_type">Select artifact type:</label>
        <select class="select" required name="artifact_type" id="artifact_type">
            <option class="select-option" value="uml">UML diagram</option>
            <option class="select-option" value="code">code</option>
            <option class="select-option" value="requirements">requirements</option>
        </select>
        <div><input class="input" required type="text" name="project_id" placeholder="project ID"></div>
        <div><input class="input" required type="text" name="access_token" placeholder="access token"></div>
        <div class="container">
            <div class="cancel-button"><a href='/artifact-group/{{ group_id }}/'>cancel</a></div>
            <div><input type="submit" class="add-button" value="add artifact" class="button"></div>
        </div>
    </form>
</div>

</body>
</html>
