{% extends 'project_manager/logged_in_template.html' %}
{% load static %}

{% block title %}Project Manager - Artifact Groups{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static '/css/artifact_groups.css' %}">{% endblock %}

{% block body %}

<div class="container space-between">
    <div><h1>Artifact Groups</h1></div>
    <div class="container">
        <div class="center username">{{request.user}}</div>
        <div class="center"><button class="logout" onclick="toggleDiv()">logout</button></div>
    </div>
</div>

<div class="add-group-wrap"><a class="add-group" href="{% url 'create_artifact_group' %}">+ add new group</a></div>

{% if artifact_groups.count == 0 %}
    <div class="no-groups">You do not have any artifact groups!</div>
{% else %}
    <div class="artifact-groups">
        {% for group in artifact_groups %}
        <div class="artifact-group"><a href='/artifact-group/{{ group.id }}/'>{{ group.name }}</a></div>
        {% endfor %}
    </div>
{% endif %}

<div id="logout">
    <div class="question">Are you sure you want to log out?</div>
    <div class="container justify-content-space-around">
        <div><a class="yes center" href="{% url 'logout' %}">Yes</a></div>
        <div><button class="no" onclick="toggleDiv()">No</button></div>
    </div>
</div>

<script>
    function toggleDiv() {
        var x = document.getElementById("logout");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
      }
</script>
{% endblock %}
