{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Group #{{group.id}}</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/artifact_group.css' %}">
</head>
<body>

    <div class="container space-between">
        <div class="container">
            <div class="center"><a href="{% url 'artifact_groups' %}"><image class="back-image" src="{% static '/images/back.png' %}" alt="back to groups"></a></div>
            <div class="group-heading"><h1>{{group.name}}</h1></div>
        </div>
        <div class="container">
            <div class="center username">{{request.user}}</div>
            <div class="center"><button class="logout" onclick="toggleDivLogout()">logout</button></div>
        </div>
    </div>

    <div class="add-artifact-wrap">
        <a class="add-artifact" href='/artifact-group/{{ group.id }}/add-new-artifact/'>+ add new artifact</a>
    </div>

    {% if requirements.count == 0 and codes.count == 0 and umls.count == 0 %}
        <div class="no-artefacts">You do not have any artefacts!</div>
    {% endif %}

    <div class="artefacts">
        {% if requirements.count > 0 %}
            <h2>Requirements</h2>
            {% for requirement in requirements %}
                <div class="margin-bottom container">
                    {% if requirement.done %}
                    <a class="done toggle-done" href="/artifact-group/{{group.id}}/artifact/{{requirement.id}}/toggle-done/"></a>
                    <div class="done-text">DONE</div>
                    {% else %}
                    <a class="not-done toggle-done" href="/artifact-group/{{group.id}}/artifact/{{requirement.id}}/toggle-done/"></a>
                    {% endif %}
                    <a class="file-link" href='/artifact-group/{{ group.id }}/artifact/{{ requirement.id }}'>{{ requirement.file_name }}</a>
                </div>
            {% endfor %}
        {% endif%}

        {% if codes.count > 0 %}
            <h2>Code</h2>
            {% for code in codes %}
                <div class="margin-bottom container">
                    {% if code.done %}
                    <a class="done toggle-done" href="/artifact-group/{{group.id}}/artifact/{{code.id}}/toggle-done/"></a>
                    <div class="done-text">DONE</div>
                    {% else %}
                    <a class="not-done toggle-done" href="/artifact-group/{{group.id}}/artifact/{{code.id}}/toggle-done/"></a>
                    {% endif %}
                    <a class="file-link" href='/artifact-group/{{ group.id }}/artifact/{{ code.id }}'>{{ code.file_name }}</a>
                </div>
            {% endfor %}
        {% endif %}

        {% if umls.count > 0 %}
            <h2>UML</h2>
            {% for uml in umls %}
                <div class="margin-bottom container">
                    {% if uml.done %}
                    <a class="done toggle-done" href="/artifact-group/{{group.id}}/artifact/{{uml.id}}/toggle-done/"></a>
                    <div class="done-text">DONE</div>
                    {% else %}
                    <a class="not-done toggle-done" href="/artifact-group/{{group.id}}/artifact/{{uml.id}}/toggle-done/"></a>
                    {% endif %}
                    <a class="file-link" href='/artifact-group/{{ group.id }}/artifact/{{ uml.id }}'>{{ uml.file_name }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <button class="remove-group-button" onclick="toggleDiv()">Remove this group</button>

    <div id="remove" class="dialog">
        <div class="question">Are you sure you want to remove this artifact group?</div>
        <div class="container justify-content-space-around">
            <div><a href='/artifact-group/{{ group.id }}/remove/'>Yes</a></div>
            <div><button class="no" onclick="toggleDiv()">No</button></div>
        </div>
    </div>

    <div id="logout" class="dialog">
        <div class="question">Are you sure you want to log out?</div>
        <div class="container justify-content-space-around">
            <div><a class="yes center" href="{% url 'logout' %}">Yes</a></div>
            <div><button class="no" onclick="toggleDivLogout()">No</button></div>
        </div>
    </div>

    <script>
        function toggleDiv() {
            var x = document.getElementById("remove");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <script>
        function toggleDivLogout() {
            var x = document.getElementById("logout");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

</body>
</html>
