{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Artifact #{{artifact_id}}</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/artifact.css' %}">
</head>
<body>

    <div class="container space-between">
        <div class="container">
            <div class="center"><a href="/artifact-group/{{ group_id }}"><image class="back-image" src="{% static '/images/back.png' %}" alt="back to artifacts"></a></div>
            <div class="artifact-heading"><h1>{{artifact.file_name}}</h1></div>
        </div>
        <div class="container">
            <div class="center username">{{request.user}}</div>
            <div class="center"><button class="logout" onclick="toggleDivLogout()">logout</button></div>
        </div>
    </div>

    <button class="remove-artifact-button" onclick="toggleDiv()">Remove this artifact</button>

    {% if file_changed %}
        <div class="warning">
            File was changed since last view
        </div>
    {% endif %}

    {% if error %}
        <div class="error">Could not get the artifact from the GitLab repository!</div>
    {% else %}

        <div class="margin-right-left gitlab">GitLab link to the file:</div>
        <div class="margin-right-left gitlab-link"><a target="_blank" href="{{ artifact.url_to_file }}">{{ artifact.url_to_file }}</a></div>

        {% if artifact.artifact_type == "requirements" %}
        <div class="file-content-heading">file content</div>
        <div class="file-content no-padding-top-bot">
            {% autoescape off %}
                {{ html_markdown }}
            {% endautoescape %}
        </div>
        {% elif artifact.artifact_type == "code" %}
        <div class="file-content-heading">file content</div>
            <div class="file-content">
                <pre class="code_content">{{ artifact.file_content }}</pre>
            </div>
        {% elif artifact.artifact_type == "uml" %}
            <h2>UML diagram:</h2>
            <img src="https://www.plantuml.com/plantuml/png/~h{{ hex_code }}" alt="uml">
        {% endif %}


    {% endif %}

    <div id="remove" class="dialog">
        <div class="question">Are you sure you want to remove this artifact?</div>
        <div class="container justify-content-space-around">
            <div><a href='/artifact-group/{{ group_id }}/artifact/{{ artifact_id }}/remove'>Yes</a></div>
            <div><button class="no" onclick="toggleDiv()">No</button></div>
        </div>
    </div>

    <div id="logout" class="dialog">
        <div class="question">Are you sure you want to log out?</div>
        <div class="container justify-content-space-around">
            <div><a class="yes center" href="{% url 'logout' %}">Yes</a></div>
            <div><button class="no" onclick="toggleDivLogout()">No</button></div>
        </div>
    </div>

    <script>
        function toggleDiv() {
            var x = document.getElementById("remove");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
          }
    </script>

    <script>
        function toggleDivLogout() {
            var x = document.getElementById("logout");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

</body>
</html>
