{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Create artifact group</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/create_artifact_group.css' %}">
</head>
<body>

<h1>Create new artifact group</h1>

<form method="POST" action="">
{% csrf_token %}
<input required class="input" type="text" name="name" placeholder="group name">
<div class="container">
    <div class="cancel-button"><a href="{% url 'artifact_groups' %}">cancel</a></div>
    <div><input class="create-button" type="submit" value="create"></div>
</div>
</form>

</body>
</html>
