{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Home</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
</head>
<body>

<div class="wrap">
    <div><h1>GitLab Project Manager</h1></div>
    <div class="container">
        <div><a href="{% url 'login' %}"><div class="button"><div>Log in</div></div></a></div>
        <div><a href="{% url 'register' %}"><div class="button"><div>Register</div></div></a></div>
    </div>
</div>

</body>
</html>