{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Log in</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
</head>
<body>

<div class="center-content">
    <div class="login-window">
        <h1>Log in</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="margin-bottom"><input type="text" name="username" placeholder="username"></div>
            <div><input type="password" name="password" placeholder="password"></div>
            {% for message in messages %}
                <div class="message-wrap"><div class="message">{{message}}</div></div>
            {% endfor %}
            <div><input type="submit" value="Log in" class="button"></div>
        </form>
        <div class="register"><a href="{% url 'register' %}">register here</a></div>
    </div>
</div>

</body>
</html>
