{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Project Manager - Registration</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
</head>
<body>

<div class="center-content">
    <div class="register-window">
        <h1>Registration</h1>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="margin-bottom"><input type="text" name="username" placeholder="username"></div>

            <div class="margin-bottom"><input type="password" name="password1" placeholder="password"></div>

            <div><input type="password" name="password2" placeholder="password again"></div>

            <div class="errors">{{form.errors}}</div>

            <div><input type="submit" name="Create User" value="Register" class="button"></div>
        </form>
        <div class="login"><a href="{% url 'login' %}">log in here</a></div>
    </div>
</div>

</body>
</html>
