body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.container {
    display: flex;
    flex-direction: row;
}

.input {
    width: 250px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
}

.url {
    width: 500px;
}

.cancel-button {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    border-width: 3px;
    border-color: red;
    border-style: solid;
    height: fit-content;
    text-align: center;
}

.cancel-button a {
    color: red;
    display: block;
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

.add-button {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 36px;
    border-width: 3px;
    border-color: blue;
    border-style: solid;
    background-color: white;
    color: blue;
}

.add-button:hover {
    cursor: pointer;
}

.margin-right-left {
    margin-left: 45px;
    margin-right: 45px;
}

.warning {
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

.select {
    margin-bottom: 20px;
    font-size: 20px;
    height: 40px;
    color: #f58427;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.select-label {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 10px;
}

.select-option {
    font-weight: bold;
}

.error {
    font-weight: bold;
    background-color: red;
    padding: 15px;
    margin-bottom: 20px;
}