#remove {
    display: none;
}

.back-image {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center {
    display: block;
    align-self: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.username {
    font-size: 30px;
}

.logout {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    border: none;
    background-color: white;
    color: #f58427;
    padding: 0;
}

.logout:hover {
    cursor: pointer;
}

.space-between {
    justify-content: space-between;
}

.group-heading {
    margin-left: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dialog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    height: 200px;
    background-color: #d1d1d1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}

.dialog a {
    font-size: 20px;
    font-weight: bold;
    color: #f58427;
    padding: 10px;
}

.dialog a:hover {
    color: white;
}

.question {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.no {
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #f58427;
    background-color: #d1d1d1;
    padding: 10px;
}

.no:hover {
    cursor: pointer;
    color: white;
}

a {
    text-decoration: none;
}

.justify-content-space-around {
    justify-content: space-around;
}

.add-artifact {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #f58427;
    font-weight: bold;
    font-size: 18px;
}

.add-artifact:hover {
    background-color: #f58427;
    color: white;
}

.add-artifact-wrap {
    padding: 10px;
    margin-left: 25px;
}

.no-artefacts {
    color: red;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 20px;
    font-size: 18px;
}

.remove-group-button {
    margin-left: 45px;
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    color: red;
    background-color: white;
    border-color: red;
    border-style: solid;
}

.remove-group-button:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

.artefacts {
    margin-left: 45px;
    font-weight: bold;
}

.artefacts a {
    color: blue;
    font-size: 18px;
}

.artefacts a:hover {
    color: purple;
    font-size: 18px;
}

h2 {
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.toggle-done {
    display: block;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.toggle-done:hover {
    cursor: pointer;
}

.done {
    background-color: #00ff00;
}

.not-done {
    background-color: white;
}

.done-text {
    color: #00ff00;
    margin-left: 5px;
}

.file-link {
    margin-left: 10px;
}
