body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#remove {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.center {
    display: block;
    align-self: center;
}

.back-image {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.artifact-heading {
    margin-left: 20px;
}

.username {
    font-size: 30px;
}

.logout {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    border: none;
    background-color: white;
    color: #f58427;
    padding: 0;
}

.logout:hover {
    cursor: pointer;
}

.dialog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    height: 200px;
    background-color: #d1d1d1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}

.dialog a {
    font-size: 20px;
    font-weight: bold;
    color: #f58427;
    padding: 10px;
}

.dialog a:hover {
    color: white;
}

.question {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.no {
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #f58427;
    background-color: #d1d1d1;
    padding: 10px;
}

.no:hover {
    cursor: pointer;
    color: white;
}

.justify-content-space-around {
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.remove-artifact-button {
    margin-left: 45px;
    padding: 10px;
    font-weight: bold;
    color: red;
    background-color: white;
    border-color: red;
    border-style: solid;
}

.remove-artifact-button:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

.margin-right-left {
    margin-left: 45px;
    margin-right: 45px;
}

.code_content {
    margin-left: 45px;
    font-size: 15px;
    margin: 0;
}

.file-content {
    border-radius: 5px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    padding: 20px;
    margin-left: 45px;
    margin-right: 45px;
}

.no-padding-top-bot {
    padding-top: 0;
    padding-bottom: 0;
}

.file-content-heading {
    margin-top: 20px;
    font-weight: bold;
    margin-left: 55px;
    color: gray;
}

.margin-right-left {
    margin-left: 45px;
    margin-right: 45px;
}

.gitlab {
    margin-top: 20px;
    font-size: 20px;
    color: #f58427;
    font-weight: bold;
}

.gitlab-link a {
    color: black
}

.gitlab-link a:hover {
    color: black
}

.error {
    font-weight: bold;
    background-color: red;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
}

.warning {
    font-weight: bold;
    background-color: #f58427;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
}

img {
    max-height: 90vh;
    margin-left: 45px;
}

h2 {
    margin-left: 45px;
    font-size: 20px;
}