h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.center {
    display: block;
    align-self: center;
}

body {
    margin: 0;
}

.username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.logout {
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    border: none;
    background-color: white;
    color: #f58427;
    padding: 0;
}

.logout:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#logout {
    display: none;
}

.add-group {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #f58427;
    font-weight: bold;
    font-size: 18px;
}

.add-group:hover {
    background-color: #f58427;
    color: white;
}

.add-group-wrap {
    padding: 10px;
    margin-left: 25px;
}

.artifact-groups {
    margin-left: 45px;
    margin-top: 20px;
}

.artifact-group {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}

.artifact-group a {
    color: blue;
}

.artifact-group a:hover {
    color: purple;
}

.no-groups {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 20px;
    font-size: 18px;
}

#logout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    height: 200px;
    background-color: #d1d1d1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#logout a {
    font-size: 20px;
    font-weight: bold;
    color: #f58427;
    padding: 10px;
}

#logout a:hover {
    color: white;
}

.justify-content-space-around {
    justify-content: space-around;
}

.question {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.no {
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #f58427;
    background-color: #d1d1d1;
    padding: 10px;
}

.no:hover {
    cursor: pointer;
    color: white;
}
