body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

form {
    margin-left: 45px;
}

.input {
    width: 250px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
}

.cancel-button {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    border-width: 3px;
    border-color: red;
    border-style: solid;
    text-align: center;
    height: fit-content;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.cancel-button a {
    color: red;
    display: block;
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

.create-button {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 36px;
    border-width: 3px;
    border-color: blue;
    border-style: solid;
    background-color: white;
    color: blue;
}

.create-button:hover {
    cursor: pointer;
}