body {
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #f58427;
    margin-bottom: 100px;
    font-size: 45px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.button {
    display: flex;
    width: 120px;
    height: 50px;
    background-color: #f58427;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
