body {
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

input {
    margin-left: 35px;
    margin-right: 35px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.register-window {
    width: fit-content;
    height: fit-content;
    background-color: #f58427;
    margin-bottom: 50px;
}

.margin-bottom {
    margin-bottom: 20px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
}

.errors {
    max-width: 270px;
    padding-left: 10px;
    padding-right: 10px;
}

.login {
    margin-bottom: 30px;
}

a {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.button {
    margin-bottom: 5px;
    margin-top: 30px;
    width: 150px;
    color: #f58427;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}